/* TODO: clean up the following (much of it is not being used) after we've made 
   some progress */
#id_input_parameter_wind_speed {
    display: none;
}
#id_input_parameter_distance_to_shore {
    display: none;
}
#id_input_parameter_depth {
    display: none;
}
#id_input_parameter_distance_to_substation {
    display: none;
}
#id_input_parameter_distance_to_awc {
    display: none;
}
#id_input_filter_distance_to_shipping {
    display: none;
}
#id_input_filter_ais_density {
    display: none;
}
#id_input_filter_uxo {
    display: none;
}


#wind-design-form i.check {
    top: 6px;
}
#wind-design-form .accordion-toggle i.check {
    left: -3px;
}
#wind-design-form i.icon-check-empty {
    display: block !important;
    opacity: .4;
    /* for IE */
    filter: alpha(opacity=40);
}
#wind-design-form label:hover i.icon-check-empty {
    display: block !important;
    opacity: .8;
    /* for IE */
    filter: alpha(opacity=80);
}
#wind-design-form .show-layer-btn {
    height: 16px; 
    line-height: 16px;
    padding-left: 15px;
}
#wind-design-form .show-layer-btn-group {
    width: 70%; 
    margin: 15px 0px 5px 0px;
}
.show-blocks-btn a{
    height: 16px; 
    line-height: 16px;
}
.show-blocks-btn i.icon-check-empty {
    opacity: .4;
    /* for IE */
    filter: alpha(opacity=40);
}
.show-blocks-btn:hover i.icon-check-empty {
    opacity: .8;
    /* for IE */
    filter: alpha(opacity=80);
}
#wind-design-form .accordion-heading .accordion-toggle {
    padding: 4px 15px;
}
#wind-design-form .accordion-body {
    border-left: 0px !important;
}
#wind-design-form .accordion-inner {
    padding: 5px 0px;
    border-top: 0px;
    font-weight: normal;
}
#wind-design-form .inputfield {
    margin: 0px 20px;
}
#wind-design-form .btn-info-sign {
    padding: 4px 8px;
}
.show-blocks-btn {
    margin-top: -10px;
    padding-bottom: 10px;
}



div .field > label { 
    font-size: 12px; 
    display: inline; 
}
div.param-checkboxes {
    padding-left: 10px !important;
}
span.potential {
    font-weight:bold; !important;
}
span.traffic {
    font-weight:bold; !important;
}
span.form-image { 
    float: left; 
    margin-left: -66px; 
}
span.form-image > img { 
    width:46px; 
    height:46px; 
}

.traffic {
    margin-top: 5px;
}
.traffic_widget {
    margin-top: 15px;
}

form ul {
    margin-top: 5px;
    margin-bottom: 0px;
    padding-left: 20px;
}
li label {   
    font-weight: normal !important;
    margin-bottom: 0px !important;
}

/*form ul.parameters {
    list-style-type: none;
    margin-top: 5px;
    margin-bottom: 0px;
    padding-left: 0px;
    width: 90%;
}*/

form ul.parameters i.info-icon {
    margin-left: 0px !important; 
    color: #666;
}
form ul.parameters i.info-icon:hover {
    color: #333;
}

label.step-header {
    margin-top: 5px;
    font-weight: bold;
    padding-left: 5px !important;
}
label.step3-header {
    font-weight: bold;
    padding-left: 5px !important;
    padding-bottom: 10px !important;
}
label.param {
    font-weight: normal !important;
    padding-left: 0px !important;
}
img.info {
    display: inline !important;
}

/* design stuff */

.panel form {
    /*background: none repeat scroll 0 0 #DDDDDD;*/
    border: 1px solid #BBBBBB;
    border-radius: 10px 10px 10px 10px;
    height: 60%;
    width: 99%;
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}


.panel > form textarea,
.panel > form input[name="name"] {
    width: 90%;
}

.errorlist {
    color: red;
}

form {
    outline: none;
}
