<div class="featurepanel">

    {% load static from staticfiles %}

    {% if form.media %} {{ form.media }} {% endif %}
    <h4>
        <!--<img src="/media/marco/img/multi.png"/>-->
        Wind Energy Siting

    </h4>

    <form id="wind-design-form" action="{{ action }}" method="post">
        {% for hidden in form.hidden_fields %}
            <div style="display:none;">
                {{ hidden.errors }}
            </div>
            {{ hidden }}
        {% endfor %}
        <div id="error_bar"></div>

        <div id="step1" class="step">
            <p class="step-text"><i>Step 1 of 3 </i></p>

            <p class="instructions">Select 1 or more criteria for this
                sector </p>
            <label class="step-header">Wind Energy</label>

            <div id="step1_inputs">
                <ul class="parameters">
                    <li>
                        <div class="accordion" id="wind-speed-accordion">
                            <div class="accordion-heading"
                                 data-bind="click: toggleWindSpeedWidget">
                                <label class="accordion-toggle">
                                    {{ form.input_parameter_wind_speed }}
                                    <i class="check icon-large icon-check"
                                       data-bind="visible: windSpeedParameter()"></i>
                                    <i class="check icon-large icon-check-empty"></i>
                                    <span class="parameter-label"
                                          style="margin-left: 5px">Wind Speed </span>
                                    <i class="info-icon icon-info-sign"
                                       rel="popover"
                                       data-content="Estimated wind speed at 90m from data published by the National Renewable Energy Laboratory (NREL)."
                                       data-placement="right"
                                       data-container="body">
                                    </i>
                                </label>
                            </div>
                            <div id="wind_speed_widget"
                                 class="inputfield accordion-body collapse"
                                 data-bind="css: {'in': windSpeedParameter()}">
                                <div class="accordion-inner">
                                    <div>
                                        Potential:
                            <span class="label">
                                <span id="wind_speed_text" class="potential">Outstanding</span>
                            </span>
                                    </div>
                                    <div>
                                        Min Avg Speed (m/s)
                                        {{ form.input_avg_wind_speed }}
                                        {{ form.input_avg_wind_speed.errors }}
                                    </div>
                                    <div class="btn-group btn-group-layer show-layer-btn-group">
                                        <a class="btn btn-info-sign"
                                           style="height: 16px; line-height: 16px"
                                           data-bind="click: toggleWindSpeedDescription, css: { 'active': windSpeedLayer.infoActive() }">
                                            <i class="icon-info-sign icon-large"></i>
                                        </a>

                                        <a class="btn btn-layer show-layer-btn"
                                           style="height: 16px; line-height: 16px"
                                           data-bind="css: { 'active': windSpeedLayer.active(), 'not-active': ! windSpeedLayer.active() }, click: toggleWindSpeedLayer">
                                            <div style="font-weight: normal">
                                                <span>Show Wind Speed Data</span>
                                                <i class="check icon-large icon-check"
                                                   style="top: 8px"
                                                   data-bind="visible: windSpeedLayer.active() && windSpeedLayer.visible()"></i>
                                                <i class="check icon-large icon-check-empty"
                                                   style="top: 8px"
                                                   data-bind="visible: windSpeedLayer.active() && ! windSpeedLayer.visible()"></i>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="accordion"
                             id="distance-to-substation-accordion">
                            <div class="accordion-heading"
                                 data-bind="click: toggleSubstationWidget">
                                <label class="accordion-toggle">
                                    {{ form.input_parameter_distance_to_substation }}
                                    <i class="check icon-large icon-check"
                                       data-bind="visible: distanceToSubstationParameter()"></i>
                                    <i class="check icon-large icon-check-empty"></i>
                                    <span class="parameter-label"
                                          style="margin-left: 5px">Distance to Coastal Substation </span>
                                    <!--<img src="/media/marco/img/info.png" id="info_substation" class="info" />-->
                                    <i class="info-icon icon-info-sign"
                                       rel="popover"
                                       data-content="Distance to the nearest onshore 500kV substation. Note that substation locations are not shown in the planner due to the proprietary nature of the source data."
                                       data-placement="right"
                                       data-container="body">
                                    </i>
                                </label>
                            </div>
                            <div id="distance_to_substation_widget"
                                 class="inputfield accordion-body collapse"
                                 data-bind="css: {'in': distanceToSubstationParameter()}">
                                <div class="accordion-inner">
                        <span>
                            Maximum Distance (in miles)
                            {{ form.input_distance_to_substation }}
                            {{ form.input_distance_to_substation.errors }}
                        </span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="accordion" id="distance-to-awc-accordion">
                            <div class="accordion-heading"
                                 data-bind="click: toggleAWCWidget">
                                <label class="accordion-toggle">
                                    {{ form.input_parameter_distance_to_awc }}
                                    <i class="check icon-large icon-check"
                                       data-bind="visible: distanceToAWCParameter()"></i>
                                    <i class="check icon-large icon-check-empty"></i>
                                    <span class="parameter-label"
                                          style="margin-left: 5px">Distance to Proposed AWC Hubs </span>
                                    <!--<img src="/media/marco/img/info.png" id="info_awc" class="info" />-->
                                    <i class="info-icon icon-info-sign"
                                       rel="popover"
                                       data-content="The Atlantic Wind Connection is a proposed undersea transmission cable system that would bring power generated by Mid-Atlantic offshore wind turbines to shore."
                                       data-placement="right"
                                       data-container="body">
                                    </i>
                                </label>
                            </div>
                            <div id="distance_to_awc_widget"
                                 class="inputfield accordion-body collapse"
                                 data-bind="css: {'in': distanceToAWCParameter()}">
                                <div class="accordion-inner">
                        <span>
                            Maximum Distance (in miles)
                            {{ form.input_distance_to_awc }}
                            {{ form.input_distance_to_awc.errors }}
                        </span>

                                    <div class="btn-group btn-group-layer show-layer-btn-group">
                                        <a class="btn btn-info-sign"
                                           style="height: 16px; line-height: 16px"
                                           data-bind="click: toggleAWCDescription, css: { 'active': awcLayer.infoActive() }">
                                            <i class="icon-info-sign icon-large"></i>
                                        </a>

                                        <a class="btn btn-layer show-layer-btn"
                                           style="height: 16px; line-height: 16px"
                                           data-bind="css: { 'active': awcLayer.active(), 'not-active': ! awcLayer.active() }, click: toggleAWCLayer">
                                            <div style="font-weight: normal">
                                                <span>Show AWC Routes & Hubs Data</span>
                                                <i class="check icon-large icon-check"
                                                   style="top: 8px"
                                                   data-bind="visible: awcLayer.active() && awcLayer.visible()"></i>
                                                <i class="check icon-large icon-check-empty"
                                                   style="top: 8px"
                                                   data-bind="visible: awcLayer.active() && ! awcLayer.visible()"></i>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="accordion" id="distance-to-shore-accordion">
                            <div class="accordion-heading"
                                 data-bind="click: toggleDistanceToShoreWidget">
                                <label class="accordion-toggle">
                                    {{ form.input_parameter_distance_to_shore }}
                                    <i class="check icon-large icon-check"
                                       data-bind="visible: distanceToShoreParameter()"></i>
                                    <i class="check icon-large icon-check-empty"></i>
                                    <span class="parameter-label"
                                          style="margin-left: 5px">Distance to Shore  </span>
                                    <i class="info-icon icon-info-sign"
                                       rel="popover"
                                       data-content="Distance to the official NOAA shoreline."
                                       data-placement="right"
                                       data-container="body">
                                    </i>
                                </label>
                            </div>
                            <div id="distance_to_shore_widget"
                                 class="inputfield accordion-body collapse"
                                 data-bind="css: {'in': distanceToShoreParameter()}">
                                <div class="accordion-inner">
                        <span>
                            {{ form.input_min_distance_to_shore }}
                            to
                            {{ form.input_max_distance_to_shore }} miles
                        </span>
                                    {{ form.input_distance_to_shore }}
                                    {{ form.input_distance_to_shore.errors }}
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="accordion" id="depth-range-accordion">
                            <div class="accordion-heading"
                                 data-bind="click: toggleDepthWidget">
                                <label class="accordion-toggle">
                                    {{ form.input_parameter_depth }}
                                    <i class="check icon-large icon-check"
                                       data-bind="visible: depthRangeParameter()"></i>
                                    <i class="check icon-large icon-check-empty"></i>
                                    <span class="parameter-label"
                                          style="margin-left: 5px">Depth Range  </span>
                                    <!--<img src="/media/marco/img/info.png" id="info_depth" class="info" />-->
                                    <i class="info-icon icon-info-sign"
                                       rel="popover"
                                       data-content="Based on best available bathymetry data from the National Geophysical Data Center."
                                       data-placement="right"
                                       data-container="body">
                                    </i>
                                </label>
                            </div>
                            <div id="depth_widget"
                                 class="inputfield accordion-body collapse"
                                 data-bind="css: {'in': depthRangeParameter()}">
                                <div class="accordion-inner">
                                    <div>
                            <span>
                                {{ form.input_min_depth }}
                                to
                                {{ form.input_max_depth }} meters
                            </span>
                                        {{ form.input_depth }}
                                        {{ form.input_depth.errors }}
                                    </div>
                                    <!--
                                    <div class="btn-group btn-group-layer show-layer-btn-group">
                                        <a class="btn btn-info-sign" style="height: 16px; line-height: 16px" data-bind="click: toggleDepthZonesDescription, css: { 'active': depthZonesLayer.infoActive() }">
                                            <i class="icon-info-sign icon-large"></i>
                                        </a>
                                        <a class="btn btn-layer show-layer-btn" style="height: 16px; line-height: 16px" data-bind="css: { 'active': depthZonesLayer.active(), 'not-active': ! depthZonesLayer.active() }, click: toggleDepthZonesLayer">
                                            <div style="font-weight: normal">
                                                <span>Show Depth Zones</span>
                                                <i class="check icon-large icon-check" style="top: 8px" data-bind="visible: depthZonesLayer.active() && depthZonesLayer.visible()"></i>
                                                <i class="check icon-large icon-check-empty" style="top: 8px" data-bind="visible: depthZonesLayer.active() && ! depthZonesLayer.visible()"></i>
                                            </div>
                                        </a>
                                    </div>
                                    -->
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <p></p>
        </div>

        <div id="step2" class="step">
            <p class="step-text"><i>Step 2 of 3 </i></p>

            <p class="instructions">Choose any filtering criteria from other
                sectors </p>
            <label class="step-header">Shipping</label>

            <div id="step2_inputs">
                <ul class="parameters">
                    <li>
                        <div class="accordion"
                             id="distance-to-shipping-accordion">
                            <div class="accordion-heading"
                                 data-bind="click: toggleShippingLanesWidget">
                                <label class="accordion-toggle">
                                    {{ form.input_filter_distance_to_shipping }}
                                    <i class="check icon-large icon-check"
                                       data-bind="visible: distanceToShippingParameter()"></i>
                                    <i class="check icon-large icon-check-empty"></i>
                                    <span class="parameter-label"
                                          style="margin-left: 5px">Distance to Ship Routing Measures </span>
                                    <!--<img src="/media/marco/img/info.png" id="info_lanes" class="info" />-->
                                    <i class="info-icon icon-info-sign"
                                       rel="popover"
                                       data-content="Ship Routing Measures are designated traffic areas providing access routes for vessels proceeding to and from U.S. ports."
                                       data-placement="right"
                                       data-container="body">
                                    </i>
                                </label>
                            </div>
                            <div id="distance_to_shipping_widget"
                                 class="inputfield accordion-body collapse"
                                 data-bind="css: {'in': distanceToShippingParameter()}">
                                <div class="accordion-inner">
                                    <label class="param"> Minimum Distance
                                        (miles)
                                        {{ form.input_distance_to_shipping }}
                                        {{ form.input_distance_to_shipping.errors }}
                                    </label>
                                    <!--<div style="margin-top: 10px">
                                        <label id="shipping-lanes-layer-toggle" data-bind="click: toggleShippingLanesLayer">
                                            <input id="shipping-lanes-layer-checkbox" data-bind="checked: shippingLanesLayer.active()" type="checkbox" name="checkbox" value="value">
                                            Show Shipping Lanes Data</input>
                                        </label>
                                    </div>-->
                                    <div class="btn-group btn-group-layer show-layer-btn-group">
                                        <a class="btn btn-info-sign"
                                           style="height: 16px; line-height: 16px"
                                           data-bind="click: toggleShippingLanesDescription, css: { 'active': shippingLanesLayer.infoActive() }">
                                            <i class="icon-info-sign icon-large"></i>
                                        </a>

                                        <a class="btn btn-layer show-layer-btn"
                                           data-bind="css: { 'active': shippingLanesLayer.active(), 'not-active': ! shippingLanesLayer.active() }, click: toggleShippingLanesLayer">
                                            <div style="font-weight: normal">
                                                <span>Show Ship Routing Measures Data</span>
                                                <i class="check icon-large icon-check"
                                                   style="top: 8px"
                                                   data-bind="visible: shippingLanesLayer.active() && shippingLanesLayer.visible()"></i>
                                                <i class="check icon-large icon-check-empty"
                                                   style="top: 8px"
                                                   data-bind="visible: shippingLanesLayer.active() && ! shippingLanesLayer.visible()"></i>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="accordion"
                             id="exclude-ship-traffic-selectbox">
                            <div class="accordion-heading"
                                 data-bind="click: toggleShipTrafficWidget">
                                {{ form.input_filter_ais_density }}
                                <label id="ship_traffic_density_widget"
                                       class="accordion-toggle">
                                    <i class="check icon-large icon-check"
                                       data-bind="visible: shipTrafficDensityParameter()"></i>
                                    <i class="check icon-large icon-check-empty"></i>
                                    <span class="parameter-label"
                                          style="margin-left: 5px">Exclude Areas with High or Moderate Ship Traffic </span>
                                    <!--<img src="/media/marco/img/info.png" id="info_ais" class="info" />-->
                                    <i class="info-icon icon-info-sign"
                                       rel="popover"
                                       data-content="Areas for which AIS data indicate higher ship traffic can be excluded."
                                       data-placement="right"
                                       data-container="body">
                                    </i>
                                </label>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <p></p>
            <label class="step-header">Security</label>

            <div id="step2_inputs">
                <ul class="parameters">
                    <li>
                        <div class="accordion" id="exclude-uxo-selectbox">
                            <div class="accordion-heading"
                                 data-bind="click: toggleUXOWidget">
                                {{ form.input_filter_uxo }}
                                <label id="uxo_widget" class="accordion-toggle">
                                    <i class="check icon-large icon-check"
                                       data-bind="visible: uxoParameter()"></i>
                                    <i class="check icon-large icon-check-empty"></i>
                                    <span class="parameter-label"
                                          style="margin-left: 5px">Exclude Areas with Unexploded Ordnances </span>
                                    <!--<img src="/media/marco/img/info.png" id="info_uxo" class="info" />-->
                                    <i class="info-icon icon-info-sign"
                                       rel="popover"
                                       data-content="Generalized and known areas where unexploded ordnance were dumped can be excluded."
                                       data-placement="right"
                                       data-container="body">
                                    </i>
                                </label>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <p></p>
        </div>

        <div id="step3" class="step">
            <p class="step-text"><i>Step 3 of 3 </i>

            <p class="instructions">Provide a <b>Name</b> to identify your Wind
                Energy Siting </p>

            <div class="step3-inputs">
                <div class="step3-param">
                    {{ form.name.errors }}
                    {{ form.name }}
                    <div id="invalid-name-message" class="control-group error"
                         style="display: none; margin-top: -10px; margin-left: -5px;">
                        <span class="help-inline">The <b>Name</b> field is required.</span>
                    </div>
                </div>
                <p class="instructions">Optionally, you may add a
                    <b>Description</b> <!--and/or attach a file--> </p>

                <div class="step3-param">
                    {{ form.description.errors }}
                    {{ form.description }}
                </div>
                <!--
        <div class="step3-param">
            {{ form.support_file.label_tag }}
            {{ form.support_file.errors }}
            {% if form.support_file.help_text %}
                <p>{{ form.support_file.help_text }}</p>
            {% endif %}
            {{ form.support_file }}
        </div>
        -->
                <div id="scenario-cp">
                    <!--<input type="color" value="#ff0667" data-text="hidden" style="height:20px;width:20px;" />-->
                </div>
            </div>
        </div>

        <p>
            <button type="submit" value="submit" class="btn-submit btn">submit
            </button>
        </p>
    </form>

    <div class="show-blocks-btn">
    <span data-bind="visible: !isLeaseblockLayerVisible()">
        <a class="button btn" data-bind="click: activateLeaseblockLayer">
            <span class="badge" style="margin-right: 5px; margin-left: -5px;"
                  data-bind="text: leaseblocksLeft"></span> Lease Blocks
            Remaining
            <i class="icon-large icon-check-empty"
               style="margin-right: -5px; margin-left: 5px;"></i>
            <!--<img src="/media/marco/img/ajax-loader.gif" style="height: 15px; margin-right: -15px; margin-left: -15px;" data-bind="visible: showLeaseblockSpinner()" />-->
        </a>
    </span>
    <span data-bind="visible: isLeaseblockLayerVisible()">
        <a class="button btn" data-bind="click: deactivateLeaseblockLayer">
            <span class="badge" style="margin-right: 5px; margin-left: -5px;"
                  data-bind="text: leaseblocksLeft"></span> Lease Blocks
            Remaining
            <i class="icon-large icon-check"
               style="margin-right: -5px; margin-left: 5px;"></i>
            <!--<img src="/media/marco/img/ajax-loader.gif" style="height: 15px; margin-right: -15px; margin-left: -15px;" data-bind="visible: showLeaseblockSpinner()" />-->
        </a>
    </span>
    </div>

    <div class="show-blocks-btn" style="padding-right: 1px; color: #333333">
        <label>Lease Blocks Remaining: <span
                data-bind="text: leaseblocksLeft"></span></label>
    </div>

    <div class="wizard_nav" style="width:100%">
        <div class="btn-group pull-right">
            <a href="#" class="button btn" onclick="this.blur(); return false;"
               id="button_prev"><span>&lt; Previous</span></a>
            <a href="#" class="button btn" onclick="this.blur(); return false;"
               id="button_next"><span>Next &gt;</span></a>
            <a href="#" class="submit_button button btn"
               onclick="this.blur(); return false;"><span>Save</span></a>
        </div>
    </div>

    <div>
        <div class="btn-group pull-left">
            <a href="#" class="cancel_button button red btn"><span>Cancel</span></a>

        </div>
    </div>


    <script type="text/javascript">
        jQuery.getScript("{% static 'scenarios_form.js' %}", function () {
            console.debug("Loaded: {% static 'scenarios_form.js' %}");
        });
        var link = '<link rel="stylesheet" type="text/css" href="{% static 'scenarios_form.css' %}">';
        $('head').append(link);
    </script>


</div>